@model Banner
<a href="/admin/banner/index" class="btn btn-primary w-25">Back</a>
<div class="container">
    <h1>
        <code>Post:  @Model.Id </code>
        <br>
        Title : <b> @Model.Title</b>
    </h1>
    <h3>
        <p>@Model.SubTitle</p>
    </h3>
</div>